.main{width: 1206px}
.ct_ul .li_01{left: 812px;top: 0px;}
.ct_ul .li_02{left: 1015px;top: 0px;}
.ct_ul .li_03{left: 812px;top: 170px;}
.ct_ul .li_04{left: 1015px;top: 170px;}
.ct_ul .li_05{left: 406px;top: 340px;}
.ct_ul .li_06{left: 609px;top: 340px;}
.ct_ul .li_07{left: 812px;top: 340px;}
.ct_ul .li_08{left: 1015px;top: 340px;}
.ct_ul .li_09{left: 406px;top: 510px;}
.ct_ul .li_10{left: 609px;top: 510px;}
.ct_ul .li_11{left: 812px;top: 510px;}
.ct_ul .li_12{left: 1015px;top: 510px;}