body {
background:white;
padding:100px;
}
* {
padding:0;
margin:0;
}

.tooltip {
border:1px solid #BAD0EF;
background:#E9F3FF;
border-radius:4px;
-moz-border-radius:4px;
-khtml-border-radius:4px;
-webkit-border-radius:4px;
padding:4px;
float:left;
position:absolute;
left:0px;
top:0px;
line-height:14px;
color:#555;
font-size:12px;
}