ul, li, h3, h2, h1, p{
	padding:0;
	margin:0;
	list-style:none;
}
#demo {
	margin: 0 auto;
	width: 750px;
}
#navigation, #content,.section {
	padding: 0;
	margin: 0;
	list-style: none;
}
#content {
	overflow: hidden;
	width: 550px;
	background-color: yellow;
	position: relative;
	height: 500px;
	float: left;
}
	#content h2 {
		color: #993333;
		margin: 20px 0pt;
	}
	#content a {
		color: #777;
		font-weight: bolder;
		text-decoration: none;
	}
#navigation {
	float: left;
	width: 100px;
	height: 500px;
	background-color: #5B739C;
}
	#navigation .sup {
		margin: 26px 10px;
		font-size: 14px;
	}
		#navigation ul {
			margin: 5px 0;
			list-style: square;
			padding-left: 15px;						
		}
		#navigation a {
			color: white;
			font-weight: bolder;
			text-decoration: none;
		}				
		#navigation .sup li {
			margin:  3px 0 !important;
			margin: -4px 0;
			font-size: 10px;
		}
		#navigation a.scrolling {
			color: #933;
		}
.section {
	width: 1800px;
	position: relative;
}
	.section .sub {
		position: relative;
		float: left;
		padding: 9px 21px 42px 45px;
		width: 500px;
		height: 452px;
	}
		.section .sub p {
			width: 450px;
			margin: 16px 0;
			font-size: 85%;
			line-height: 1.4em;
		}
		.section .next, .section .prev {
			font-size: 18px;
			position: absolute;
			bottom: 15px;
			letter-spacing: -2px;
		}
		.section .next {
			right: 30px;
		}
		.section .prev {
			left: 30px;
		}