/* reset */
body,div,p,ul,li,table,tbody,tr,td,textarea,form,input,h1,h2,h3,h4,h5,dl,dt,dd,img,iframe,header,nav,section,article,footer,figure,figcaption,menu{margin:0;padding:0;list-style:none;}
body{-webkit-text-size-adjust:none; font-size: 0.24rem;}
header,nav,section,article,footer,figure,figcaption{display:block;}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%}
ol,ul{margin:0;padding:0;}
fieldset{border:none;margin:0;padding:0;}
a,li,ul,[onclick]{-webkit-tap-highlight-color:none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
table{border-collapse:collapse;border-spacing:0;}
em,strong{font-weight:normal;font-style:normal;}
a {text-decoration:none;}
.hide {display:block;width:0;height:0;overflow:hidden;}
.c:before,.c:after {content:"";display:table;}
.c:after {clear:both;}
.fl {float:left;}
.fr {float:right;}
.pr {position:relative;}
.pa {position:absolute;}
.db {display:block;text-indent:-999em;}
body,html{background-color: #7b6eea;width: 100%;overflow-x: hidden;}
header,footer {width:100%;margin:0 auto;}
footer{color:#aea6f7;background-color:#6255cb;padding:0.2rem 0;font-size:0.2rem;text-align:center;}
.wrap{width: 100%;background: url(../ossweb-img/bg.jpg) no-repeat;background-size: 100% auto;}
.canvas {position:absolute;top:0;left:0;width:100%;height: 17.6rem;z-index:2;}
.sp{background: url(../ossweb-img/sp_w.png) no-repeat;background-size: 6.32rem 3.34rem;}
/*head*/
.head{width: 100%;height: 5.15rem;position: relative;z-index: 4;}
	.logo{position: absolute;width: 0.74rem;height: 1.1rem;background-position: 0 0;left: 0.2rem;top: 0.1rem;z-index: 3;}
	.q_logo{position: absolute;width: 0.83rem;height: 0.57rem;background-position: -0.75rem 0;left: 1.21rem;top: 0.2rem;z-index: 3;}
	.w_logo{position: absolute;width: 1.21rem;height: 0.3rem;background-position: -2.10rem -0.77rem;left: 1.16rem;top: 0.4rem;z-index: 3;}
	.hd_rw{position: absolute;width: 3.49rem;height: 5.21rem;background: url(../ossweb-img/rw.png) no-repeat;background-size: 100% auto;left: 0.09rem;top: 0.49rem;z-index: 2;}
	.q_slogan{position: absolute;width: 3.77rem;height: 3.02rem;background: url(../ossweb-img/q_slogan.png) no-repeat;background-size: 100%;left: 2.48rem;top: 0.58rem;}
	.w_slogan{position: absolute;width: 3.77rem;height: 3.02rem;background: url(../ossweb-img/w_slogan.png) no-repeat;background-size: 100%;left: 2.48rem;top: 0.58rem;}
	.talk_box{position: absolute;width: 2.27rem;height: 2.12rem;left: 3.15rem;top: 3.56rem;z-index: 3;}
		.talk_img{display: block;width: 2.27rem;height: 2.12rem;background: url(../ossweb-img/get.png) no-repeat;background-size: 100% auto;}
		.btn_get{display: block;width: 1.8rem;height: 0.97rem;transform: rotate(42deg);position: absolute;left: 0.22rem;top: 0.54rem;z-index: 5;}
		.talk_info{position: absolute;width: 1.46rem;height: 0.92rem;background-position: 0 -1.11rem;right: -0.86rem;top: 0.11rem;}
	/*.fly{}*/
		.fly em{background-image: url(../ossweb-img/fly.png);background-repeat: no-repeat;background-size: 6.14rem auto;position: absolute;}
		.fly1{width: 0.69rem;height: 1.08rem;background-position: -2.55rem 0;left: 2.5rem;top: 0.03rem;z-index: 3;}
		.fly2{width: 0.51rem;height: 0.62rem;background-position: 0 -2.07rem;left: -0.06rem;top: 2.1rem;z-index: 3;}
		.fly3{width: 0.44rem;height: 0.45rem;background-position: -0.45rem -4.09rem;left: 0.38rem;top: 4.12rem;z-index: 3;}
		.fly4{background-image: url(../ossweb-img/fly.png);background-repeat: no-repeat;background-size: 6.14rem auto;position: absolute;width: 0.42rem;height: 0.44rem;background-position: -3.93rem -4.84rem;left: 0.7rem;top: 1.3rem;z-index: 4;}
		.fly5{position: absolute;width: 0.9rem;height: 0.73rem;background: url(../ossweb-img/fly.png) no-repeat -5.24rem -4.50rem;right: -0.65rem;top: 0.95rem;z-index: 4;background-size: 6.14rem auto;}
/*main*/
.main{position: relative;z-index: 3;padding-bottom: 0.4rem;z-index: 5;}
/*part1*/
.part1{}
	.pr1_tit{width: 2.89rem;height: 0.74rem;background-position: -3.43rem 0;margin: 0 auto;}
	.pr1_list{display: flex;justify-content: center;align-items: center;}
		.pr1_list li{width: 1.85rem;height: 1.74rem;margin: 0 0.05rem;position: relative;}
			.pr1_list li.li2{width: 2.01rem;height: 1.52rem;background: url(../ossweb-img/pic_gift2_bg.png) no-repeat;background-size: 100% auto;}
			.pr1_list li img{display: block;position: relative;z-index: 2;width: 1.85rem;height: 1.74rem;}
			.pr1_list li.li2 img{width: 2.01rem;height: 1.52rem;}
			.gift_name{color: #dedaff;font-size: 0.2rem;text-align: center;position: absolute;width: 100%;left: 0;top: 1.25rem;z-index: 3;}
			.gift_name1{position: absolute;width: 1.84rem;height: 0.32rem;text-align: center;display: flex;justify-content: center;align-items: center;color: #fef8ba;font-size: 0.2rem;font-weight: bold;left: 50%;bottom: 0.07rem;transform: translateX(-50%);background-color: rgba(241,121,48,0.38);border-bottom-left-radius: 0.08rem;border-bottom-right-radius: 0.08rem;z-index: 2;}
			.l2_icon{position: absolute;width: 2.01rem;height: 1.52rem;background: url(../ossweb-img/pic_gift2_light.png) no-repeat;background-size: 100% auto;left: 50%;margin-left: -1.0rem;top: 0;z-index: 1;}
	.btn_game{display: block;width: 2.48rem;height: 0.82rem;background-position: -1.47rem -1.12rem;margin: 0.12rem auto 0;text-align: center;line-height: 0.82rem;color: #ffffff;font-size: 0.34rem;font-weight: bold;text-shadow: 0.01rem 0 #de8700,0 0.01rem #de8700,-0.01rem 0 #de8700,0 -0.01rem #de8700;}		
/*part2*/			
.part2{padding-top: 0.18rem;}
	.pr2_tit{width: 4.77rem;height: 0.64rem;background-position: 0 -2.70rem;margin: 0 auto;}	
	.num{color: #e9e6ff;font-size: 0.2rem;text-align: center;line-height: 0.24rem;padding: 0.06rem 0 0.08rem;}
		.num a{color: #e9e6ff;text-decoration: underline;}		
	.mask_list{display: flex;justify-content: center;align-items: center;}
		.mask_list li{width: 2.97rem;height: 1.52rem;background-size: 2.97rem auto;background-repeat: no-repeat;margin: 0 0.02rem;}
			.mask1{background-image: url(../ossweb-img/pic_mask1.png);}
				.mask_btn{padding: 0.6rem 0 0 1.72rem;}
					.mask_btn a{display: block;width: 1.01rem;height: 0.34rem;background-position: -0.78rem -0.60rem;text-align: center;line-height: 0.32rem;color: #ffffff;font-size: 0.2rem;font-weight: bold;text-shadow: 0.01rem 0 #de8700,0 0.01rem #de8700,-0.01rem 0 #de8700,0 -0.01rem #de8700;margin-bottom: 0.05rem;}
			.mask2{background-image: url(../ossweb-img/pic_mask2.png);}
				.mask2 .mask_btn{padding-top: 0.78rem;}
/*part3*/	
.part3{padding-top: 0.26rem;}
	.pr3_tit{width: 5.4rem;height: 0.61rem;background-position: -0.03rem -2.06rem;margin: 0 auto;}
	.lottery_q,.lottery_w{width: 5.68rem;height: 5.68rem;margin:0 auto;position:relative;overflow:hidden;}
	.lottery_q .panel-face{background:url(../ossweb-img/lottery_q.png);background-size: 100% auto;width: 5.68rem;height: 5.68rem;position:absolute;}
	.lottery_q .panel-btn,.lottery_w .panel-btn{width: 1.46rem;height: 1.73rem;position:absolute;background: url(../ossweb-img/lottery_btn.png) no-repeat;background-size: 100% auto;left: 50%;top: 50%;margin-left: -0.71rem;margin-top: -0.86rem;}
	.lottery_q.playing .panel-btn,.lottery_w.playing .panel-btn{-webkit-transform:scale(0.9);transform:scale(0.9);}
.btn_rule{display: block;width: 2.48rem;height: 0.82rem;background-position: -1.47rem -1.12rem;margin: 0.12rem auto 0;text-align: center;line-height: 0.82rem;color: #ffffff;font-size: 0.34rem;font-weight: bold;text-shadow: 0.01rem 0 #de8700,0 0.01rem #de8700,-0.01rem 0 #de8700,0 -0.01rem #de8700;}	
	/*微信抽奖*/
	.lottery_w .panel-face{background:url(../ossweb-img/lottery_w.png);background-size: 100% auto;width: 5.68rem;height: 5.68rem;position:absolute;}
/*弹窗*/
.pop{display: none;}
#pop-mask {position:absolute;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,0.8);z-index: 10;}
.pop_close{position: absolute;width: 0.4rem;height: 0.4rem;color: #fff;font-size: 0.4rem;font-weight: bold;text-align: center;line-height: 0.4rem;right: 0.1rem;top: 0.06rem;z-index: 4;}
/*分享浮层*/
.share_img{width: 100%;height: 8.82rem;}
	.share_pic{display: block;width: 100%;height: 8.82rem;background: url(../ossweb-img/share.png) no-repeat center top;background-size: 100% auto;}
/*登录弹窗*/
.pop1{width: 5.5rem;background-color: #7d72e3;border-bottom-right-radius: 0.14rem;border-top-left-radius: 0.14rem;border: 1px solid #6b5ed4;}
	.pop_h{padding: 0.12rem 0.56rem;background-color: #b2a9ff;color: #5145bd;font-size: 0.26rem;line-height: 0.36rem;text-align: center;border-top-left-radius: 0.14rem;}
	.login_btn{display: flex;justify-content: center;align-items: center;padding: 0.1rem 0;}
		.login_btn a{display: block;width: 2.12rem;height: 0.71rem;background-position: -4.05rem -1.18rem;text-align: center;line-height: 0.7rem;color: #ffffff;font-size: 0.3rem;font-weight: bold;text-shadow: 0.01rem 0 #de8700,0 0.01rem #de8700,-0.01rem 0 #de8700,0 -0.01rem #de8700;margin-bottom: 0.05rem;margin: 0 0.25rem;}
		.q_icon{display: inline-block;width: 0.33rem;height: 0.35rem;background-position: -2.80rem -0.02rem;vertical-align: middle;margin-right: 0.1rem;position: relative;}
		.w_icon{display: inline-block;width: 0.40rem;height: 0.35rem;background-position: -2.82rem -0.39rem;vertical-align: middle;margin-right: 0.06rem;position: relative;}
/*活动规则*/	
.rule_cn{width: 5.1rem;padding: 0 0 0 0.2rem;color: #eceaff;font-size: 0.22rem;line-height: 0.34rem;max-height: 3.2rem;overflow-y: auto;margin: 0.15rem 0;}	
	.rule_cn::-webkit-scrollbar{width: 0.12rem;height: 100%;}  
	.rule_cn::-webkit-scrollbar-track{width: 0.12rem;background: #52499f;}  
	.rule_cn::-webkit-scrollbar-thumb{width: 0.12rem;background: #433b84;}
/*中奖内容*/	
.pop_h1{padding: 0.12rem 0;background-color: #b2a9ff;color: #5145bd;font-size: 0.36rem;line-height: 0.36rem;text-align: center;border-top-left-radius: 0.14rem;font-weight: bold;}
.gift_cn{width: 4.15rem;height: 2.06rem;margin: 0 auto;background-color: #5c52bd;margin-top: 0.3rem;overflow-y: auto;padding: 0.15rem 0;}
	.gift_cn li{color: #ffffff;font-size: 0.22rem;line-height: 0.26rem;text-align: center;padding-bottom: 0.1rem;}
	.gift_cn::-webkit-scrollbar{width: 0.18rem;height: 100%;}  
	.gift_cn::-webkit-scrollbar-track{width: 0.18rem;background: #52499f;}  
	.gift_cn::-webkit-scrollbar-thumb{width: 0.18rem;background: #433b84;}
.btn_sure{display: block;width: 2.12rem;height: 0.71rem;background-position: -4.05rem -1.18rem;text-align: center;line-height: 0.7rem;color: #ffffff;font-size: 0.3rem;font-weight: bold;text-shadow: 0.01rem 0 #de8700,0 0.01rem #de8700,-0.01rem 0 #de8700,0 -0.01rem #de8700;margin-bottom: 0.05rem;margin: 0 0.25rem;margin: 0.16rem auto 0.24rem;}	
/*小动画*/
.canvas{animation: shallI 0.8s linear both infinite alternate;}
.fly1{animation: fly1 1.6s linear both infinite alternate;}
.fly5{animation: fly1 1.6s 0.1s linear both infinite alternate;}
.pr1_list li.li2{animation: roteI 1.2s linear infinite alternate;}
.pop1,.p_letter{animation: cnShow 0.3s linear both}
.talk_info{animation: ljA 1.6s linear infinite alternate;transform-origin: 0.13rem 0.87rem;}
@keyframes shallI{0%{opacity: 0.2;}100%{opacity: 1;}}	
@keyframes fly1{0%{opacity: 0.5;transform: translate(-0.02rem,0.02rem); }100%{opacity: 1;transform: translate(-0.02rem,-0.02rem);}}		
@keyframes fly2{0%{opacity: 0.5;transform: translate(0.02rem,0.02rem); }100%{opacity: 1;transform: translate(-0.02rem,-0.02rem);}}			
@keyframes roteI{0%{transform: scale(0.96);}100%{transform: scale(1.04);}}			
@keyframes cnShow{0%{opacity: 0;transform: translateY(-0.03rem);}100%{opacity: 1;transform: translateY(0);}}
@keyframes ljA{0%{transform: rotate(-2deg);}50%{transform: rotate(0);}100%{transform: rotate(2deg);}}
/**************************游戏内***********************/
.wrap_game{width: 100%;background: url(../ossweb-img/game/bg.jpg) no-repeat;background-size: 100% auto;}
/*head*/
	.wrap_game .hd_rw{width: 3.76rem;height: 5.6rem;left: 1.05rem;top: 0.15rem;}
	.wrap_game .logo{left: 0.45rem;top: 0.09rem;}
	.wrap_game .q_logo{left: 0.39rem;top: 1.33rem;}
	.wrap_game .w_logo{left: 0.18rem;top: 1.29rem;}
	.wrap_game .fly1{left: 3.48rem;}
	.wrap_game .q_slogan{width: 3.87rem;height: 3.1rem;left: 4.07rem;top: 0.37rem;}
	.wrap_game .w_slogan{width: 3.87rem;height: 3.1rem;left: 4.07rem;top: 0.37rem;}
	.wrap_game .talk_box{left: 4.46rem;top: 3.54rem;}
	.wrap_game .fly5{right: -1.66rem;top: 0.62rem;}
	.wrap_game .fly3{left: 1.74rem;}
	.wrap_game .fly2{left: 0.3rem;}
	.wrap_game .gift_name{top: 1.4rem;}
/*main*/
.wrap_game .pr1_list li{width: 2.04rem;height: 1.91rem;margin: 0 0.22rem;}
.wrap_game .pr1_list li img{width: 2.04rem;height: 1.91rem;}
.wrap_game .pr1_list li.li2{width: 2.2rem;height: 1.67rem;}
.wrap_game .pr1_list li.li2 img{width: 2.2rem;height: 1.67rem;}
.wrap_game .gift_name1{width: 2.04rem;bottom: 0.09rem;}
.wrap_game .mask_list li{margin: 0 0.3rem;}
.wrap_game .lottery_q,.wrap_game .lottery_w{width: 4.68rem;height: 4.68rem;}
.wrap_game .lottery_q .panel-face{width: 4.68rem;height: 4.68rem;position:absolute;}
.wrap_game .lottery_q .panel-btn,.wrap_game .lottery_w .panel-btn{width: 1.2rem;height: 1.42rem;left: 50%;top: 50%;margin-left: -0.58rem;margin-top: -0.71rem;}
.wrap_game .lottery_w .panel-face{width: 4.68rem;height: 4.68rem;position:absolute;}
/*入场动画*/
@keyframes letterAG{
	0%{transform: translate(-4.4rem,1.0rem) scale(0.1);}
	50%{transform: translate(1rem,0) scale(0.5);}
	100%{transform:  translate(0,0) scale(1);}
}	
/*出场动画*/
@keyframes letterOG{
	0%{transform: translate(0,0) scale(1);}
	50%{transform: translate(1rem,0) scale(0.5);}
	100%{transform:  translate(-0.34rem,2.2rem) scale(0);}
}	
.aniInG{display: block;animation: letterAG 1.4s ease-in backwards;}	
/**/
.share_box{display: flex;justify-content: center;align-items: center;background-color: #b2a9ff;border-top-left-radius: 0.14rem;padding-top: 0.26rem;margin-bottom: 0.52rem;}
	.share_box a{width: 1.5rem;margin: 0 0.2rem;color: #eceaff;font-size: 0.2rem;text-align: center;background-repeat: no-repeat;background-size: 0.9rem 0.87rem;background-position: center top;padding-top: 1.18rem;margin-bottom: -0.36rem;}
	.q_share1{background-image: url(../ossweb-img/game/q_share1.png);}
	.q_share2{background-image: url(../ossweb-img/game/q_share2.png);}
	.w_share1{background-image: url(../ossweb-img/game/w_share1.png);}
	.w_share2{background-image: url(../ossweb-img/game/w_share2.png);}
/*强制竖屏样式*/
.w_pop{position:fixed;left:0;top:0;width: 100%;height: 100%;background: rgba(0,0,0,1);z-index:9999;display: none;}
.w_pop_img{width:1.8rem;height:2.73rem;background: url(../ossweb-img/scape.png) no-repeat center center;background-size: 1.8rem 2.73rem;position: absolute;left: 50%;margin-left:-0.9rem;top: 50%;margin-top: -1.56rem;animation:  rotateA 1.5s ease infinite alternate;}
	@keyframes rotateA{
        0%{transform: rotate(-90deg);}
        30%{transform: rotate(-90deg);}
        70%{transform: rotate(0);}
        100%{transform: rotate(0);}
    }
    @media screen and (orientation:landscape){
        .w_pop{ display: block;}
    }
.w_tips{width:100%;height:1.0rem;font-size: 0.18rem;color: #FFFFFF;text-align: center;position: absolute;left:0;top:50%;margin-top: 1.2rem;}	
/*情话弹窗*/
.p_letter{width: 3.98rem;height: 4.03rem;background: url(../ossweb-img/letter.png) no-repeat;background-size: 100% auto;}		
	.p_l_txt{position: absolute;width: 2.42rem;height: 2.16rem;left: 1.36rem;top: 1.08rem;color: #000000;font-size: 0.26rem;font-weight: bold;line-height: 0.42rem;}		
	.p_letter .pop_close{right: -0.18rem;}
/*信纸*/
.letter{position: absolute;width: 6.4rem;height: 9.75rem;background-image: url(../ossweb-img/start.png);background-repeat: no-repeat; background-size: 121.60rem 9.75rem;z-index: 10;left: 0;top: 0;}
	.letter.end{background-image: url(../ossweb-img/end.png);background-size: 6.4rem 262.35rem;top: 0.6rem;background-position: 0 0;}
	.letter_cn{position: absolute;width: 3.98rem;height: 4.04rem;left: 1.21rem;top: 2.41rem;opacity: 0;}
		.l_icon1{position: absolute;width: 0.52rem;height: 0.77rem;background: url(../ossweb-img/icon2.png) no-repeat;background-size: 100% auto;left: 1.07rem;top: 0.21rem;}
		.l_icon2{position: absolute;width: 1.04rem;height: 0.66rem;background: url(../ossweb-img/icon.jpg) no-repeat;background-size: 100% auto;left: 1.7rem;top: 0.25rem;}
		.l_icon3{position: absolute;width: 1.57rem;height: 0.33rem;background: url(../ossweb-img/icon3.png) no-repeat;background-size: 100% auto;left: 2.28rem;top: 3.28rem;}
		.l_txt{position: absolute;width: 2.42rem;height: 2.16rem;left: 1.36rem;top: 1.08rem;color: #000000;font-size: 0.26rem;font-weight: bold;line-height: 0.42rem;}	
.gameIn.letter{left: 1.01rem;top: -0.05rem;}		
.gameIn.letter.end{left: 1.01rem;top: 0.55rem;background-position: 0 0;}				
.img,.img img{width: 0;height: 0;opacity: 0;}
